<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           ">

    <bean id="initService" class="com.zxk.starter.InitService"/>

    <bean id="serviceSourceProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:dubbo.properties</value>
            </list>
        </property>
    </bean>

    <bean id="serviceCodeMap" class="org.springframework.beans.factory.config.MapFactoryBean">
        <property name="targetMapClass" value="java.util.HashMap"/>
        <property name="sourceMap">
            <map>
                <entry key="com.qudian.pay.account.api.facade.UserAccountFacade" value-ref="userAccountFacade"/>
                <!--<entry key="com.qufenqi.pay.trade.facade.CommonOrderFacade" value-ref="common"/>
                <entry key="com.qufenqi.pay.trade.facade.SignFacade" value-ref="sign"/>
                <entry key="com.qufenqi.pay.trade.facade.DkOrderFacade" value-ref="dkOrder"/>
                <entry key="com.qufenqi.insurance.facade.InsuranceNotifyFacade" value-ref="insuraNotifyFacade"/>
                <entry key="com.qufenqi.pay.loanrisk.facade.LoanRiskNotifyFacade" value-ref="loanriskNotifyFacade"/>-->
            </map>
        </property>
    </bean>


    <!--   <bean id="handleMap" class="org.springframework.beans.factory.config.MapFactoryBean">
           <property name="targetMapClass" value="java.util.HashMap"/>
           <property name="sourceMap">
               <map>
                   <entry key="http" value-ref="httpHandler"/>
                   <entry key="notify" value-ref="notifyHandler"/>
               </map>
           </property>
       </bean>-->
    <import resource="spring-gateway-consumer.xml"/>
</beans>